#tab_plugin_clothopus table {
  table-layout: fixed;
  width: 100%;
}

#tab_plugin_clothopus th,
#tab_plugin_clothopus td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: middle;
  padding: 4px 6px;
}

#tab_plugin_clothopus input.form-control {
  width: 100%;
  max-width: 100%;
  display: block;
  box-sizing: border-box;
  height: auto;
  padding: 4px 6px;
  font-size: 0.9em;
  margin: 0;
}

#tab_plugin_clothopus .btn-group .btn {
  margin-right: 2px;
  padding: 4px 8px;
  line-height: 1;
}

#tab_plugin_clothopus .btn-sm i {
  margin: 0;
}

#settings_plugin_clothopus .form-control {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  text-align: left;
}