<h3>Clothopus Filament Manager</h3>

<table class="table table-striped table-bordered" id="clothopus_filament_table">
  <thead class="thead-dark">
    <tr>
    <th style="width: 10%;"></th>
    <th style="width: 25%;">Name</th>
    <th style="width: 15%;">Kind</th>
    <th style="width: 20%;">Manufacturer</th>
    <th style="width: 15%;">Consumed</th>
    <th style="width: 15%;">Runout</th>

    </tr>
  </thead>

  <tbody data-bind="if: filamentRows().length === 0">
    <tr>
      <td colspan="7" class="text-muted">No filaments found.</td>
    </tr>
  </tbody>

  <tbody data-bind="foreach: filamentRows">
    <tr>
      <td data-bind="
        style: {
          backgroundColor: data?.main?.primary_color?.hex
            ? '#' + data.main.primary_color.hex
            : ''
        }
      "></td>

      <td>
        <span class="filament-name"
          data-bind="text: data?.main?.material_name || ''"></span>
      </td>

      <td>
        <span class="filament-kind"
          data-bind="text: data?.main?.material_type || ''"></span>
      </td>

      <td>
        <span class="filament-manufacturer"
            data-bind="text: data?.main?.brand_name || ''"></span>
      </td>

      <td>
        <span class="filament-consumed"
          data-bind="text: data?.aux?.consumed_weight || ''">
        </span>
      </td>

      <td>
        <span class="filament-runout"
          data-bind="text: runout_date || 'N/A'">
        </span>
      </td>
    </tr>
  </tbody>

</table>


<div id="clothopus_empty_wizard" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
  <div class="modal-content">

  <div class="modal-header">
    <h4 class="modal-title">
      Empty Tag Wizard
    </h4>
  </div>

  <div class="modal-body" data-bind="foreach: currentEmptyStacks">
    <div>
      <code data-bind="text: mac"></code>
      <input type="text" class="form-control input-sm" data-bind="value: filament">
    </div>
  </div>

  <div class="modal-footer">
    <button type="button"
      class="btn btn-danger btn-sm delete-btn"
      data-bind="click: closeEmptyWizard">
      Cancel
    </button>
    <button type="submit"
      class="btn btn-primary btn-sm"
      data-bind="click: submitEmptyWizard">
      Submit
    </button>
  </div>

  </div>
  </div>
</div>


<div id="clothopus_esp_wizard" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg">
  <div class="modal-content">

  <div class="modal-header">
    <h4 class="modal-title">
      Add Stacks
    </h4>
  </div>

  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th style="width: 40%">MAC</th>
        <th style="width: 40%">IP</th>
        <th style="width: 20%"></th>
      </tr>
    </thead>

    <tbody data-bind="foreach: aliveDevices">
      <tr>
        <td data-bind="text: mac"></td>
        <td data-bind="text: ip"></td>
        <td>
          <button type="button"
                  class="btn btn-primary btn-sm"
                  data-bind="click: function () { $parent.addStack($data); }">
            Add
          </button>
        </td>
      </tr>
    </tbody>

    <tbody data-bind="if: aliveDevices().length === 0">
      <tr>
        <td colspan="2" class="muted">No alive devices found</td>
      </tr>
    </tbody>
  </table>


  <div class="modal-footer">
    <button type="button"
        class="btn btn-default btn-sm"
        data-bind="click: refreshAliveDevices">
    Refresh
    </button>
  </div>

  </div>
  </div>
</div>

