<h3>Clothopus Configuration</h3>

<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th style="width: 45%">MAC</th>
      <th style="width: 45%">IP</th>
      <th style="width: 10%"></th>
    </tr>
  </thead>

  <tbody data-bind="foreach: stacksArray">
    <tr>
      <td>
        <input type="text" class="form-control input-sm" data-bind="value: mac" readonly>
      </td>
      <td>
        <input type="text" class="form-control input-sm" data-bind="value: ip" readonly>
      </td>
      <td>
        <button type="button"
          class="btn btn-danger btn-sm delete-btn"
          data-bind="click: function () { $parent.confirmDeleteStack($data); }">
          <i class="fas fa-trash"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<button class="btn btn-info" data-bind="click: startESPWizard">
  Search stacks in network
</button>