<h3>Clothopus Filament Manager</h3>

<table class="table table-striped table-bordered" id="clothopus_filament_table">
  <thead class="thead-dark">
    <tr>
    <th style="width: 5%;"></th>
    <th style="width: 5%;">#</th>
    <th style="width: 30%;">Name</th>
    <th style="width: 10%;">Kind</th>
    <th style="width: 30%;">Manufacturer</th>
    <th style="width: 20%;">Actions</th>
    </tr>
  </thead>

  <tbody data-bind="if: filamentRows().length === 0">
    <tr>
      <td colspan="6" class="text-muted">No filaments found.</td>
    </tr>
  </tbody>

  <tbody data-bind="foreach: filamentRows">
    <tr>
      <td data-bind="
        style: {
          backgroundColor: data?.main?.primary_color?.hex
            ? '#' + data.main.primary_color.hex
            : ''
        }
      "></td>

      <td data-bind="text: stack_name || ''"></td>

      <td>
        <span class="filament-name"
          data-bind="text: data?.main?.material_name || ''"></span>
      </td>

      <td>
        <span class="filament-kind"
          data-bind="text: data?.main?.material_type || ''"></span>
      </td>

      <td>
        <span class="filament-manufacturer"
            data-bind="text: data?.main?.brand_name || ''"></span>
      </td>

      <td>
        <div class="btn-group" role="group">
          <button type="button"
              class="btn btn-success btn-sm write-btn"
              data-bind="click: $parent.writeFilament">
            <i class="fas fa-pen"></i>
          </button>

          <button type="button"
              class="btn btn-secondary btn-sm read-btn"
              data-bind="click: $parent.readFilament">
            <i class="fas fa-book"></i>
          </button>

          <button type="button"
              class="btn btn-danger btn-sm delete-btn"
              data-bind="click: $parent.deleteFilament">
            <i class="fas fa-trash"></i>
          </button>
        </div>
      </td>
    </tr>
  </tbody>

</table>
